<div class="nav">
  <div class="container">
    <%= link_to "home", lists_path, class: "btn" %>
    <%= link_to "Add list", new_list_path, class: "btn" %>
    <div class="btn">About</div>
    <div class="btn">FAQ</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 60"
      height="60"
      width="400"
      overflow="visible"
      class="outline"
    >
      <rect
        stroke-width="5"
        fill="transparent"
        height="60"
        width="400"
        y="0"
        x="0"
        pathLength="100"
        class="rect"
      ></rect>
    </svg>
  </div>
</div>
