<nav class="app-navbar">
  <div class="container navbar-container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="brand-icon">🎬</span>
      <span class="brand-name">Watch List</span>
    <% end %>

    <div class="navbar-actions">
      <%= yield :navbar_actions %>
      <%= link_to "Nouvelle liste", new_list_path, class: "btn btn-accent btn-sm" %>
    </div>
  </div>
</nav>
