.outline {
  position: absolute;
  inset: 0;
  pointer-events: none;

  .rect {
    stroke-dashoffset: 5;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s;
    stroke: #e4ae0b;
  }
}

.nav {
  position: relative;
  width: 400px;
  height: 60px;
  border-radius: 40px;

}

.container {
  position: absolute;
  inset: 0;
  background: rgba(16, 16, 16, 0.4);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0.5em;

  &:hover {
    .outline .rect {
      transition: 999999s;
      stroke-dashoffset: 1;
      stroke-dasharray: 0;
    }
  }
}

.btn {
  padding: 0.5em 1.5em;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background: #e4ae0b;
    border-radius: 10px;
  }

  /* Effets par position */
  &:nth-child(1):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 2 8 73.3 8 10.7;
  }

  &:nth-child(2):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 12.6 9.5 49.3 9.5 31.6;
  }

  &:nth-child(3):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 24.5 8.5 27.5 8.5 55.5;
  }

  &:nth-child(4):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 34.7 6.9 10.2 6.9 76;
  }

  &:hover ~ .outline .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s !important;
  }
}
